body {
    background-color: #ecb316;
    font-family: 'Mulish', sans-serif;
}

button {
    display: block;
}

h1 {
    color: #0F0F0F;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
}



/* CLASS Selectors */
.showChart {
    margin-top: 2px;;
}

/* ID Selectors */

#output {
    color: #f50808;
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}