body	{
	background-color: #E2D6CA;
	font-family: 'Josefin Sans', sans-serif;
}

main {
    padding: 10px;
    margin: 10px auto;
    font-weight: 700;
	width: 80%;
	max-width: 100%;
}

.date	{
	font-size: 18px;
}